:host {
  width: 100%;
  height: 100%;
  overflow: auto;
}

div[contenteditable="true"] {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-color: blue;
  border-width: 3px;
  border-style: dotted;  
}